apiVersion: batch/v1
kind: Job
metadata:
  name: db-init
spec:
  template:
    spec:
      containers:
      - name: db-init
        image: flask-app:latest
        imagePullPolicy: Never
        command: ["python", "init_app.py"]
        env:
        - name: DB_HOST
          value: postgres
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: db_name
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: db_user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: db_password
        - name: MINIO_ENDPOINT
          value: minio:9000
        - name: MINIO_USER
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: minio_user
        - name: MINIO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: minio_password
      restartPolicy: OnFailure
  backoffLimit: 5
