apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - postgres-statefulset.yaml
  - postgres-service.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - minio-deployment.yaml
  - minio-service.yaml
  - app-deployment.yaml
  - app-service.yaml
